html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
}
.cell-one {
    background-color: #6816aa;
        }
.cell-two {
    background-color: #dd8109;
        }
        
table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    border: 1px solid black;
    width: 50%;
    color: white;
    text-align: center;
}