body {
    background-image: url("https://i.pinimg.com/1200x/e9/25/07/e92507b0f9e05579f384d984c6c06664.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: none;
    text-align: center;
    padding: 8px;
}

h1{
    color: palevioletred;
    text-align: center;
    margin-bottom: 12px; 
}
.card {
    background-color: peachpuff;
    border: solid 15px papayawhip;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
}
.profile_image {
    width: 150px;
    height: 150px;
    border-radius: 80px;
}

.login {
    font-weight: bold;
    font-size: 18px;
    color: palevioletred;
    margin-bottom: 0px;
}

.description {
    color: gray;
    margin-top: 0; 
}

.socials img {
    width: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.contact {
    margin-top: 2px;
    margin-bottom: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}

.contact:hover {
    background-color: #6e0072;
}
